.pagenav

    &__list
        display: flex
        align-items: center
        justify-content: center
        gap: 10px
        padding-left: 0
        list-style: none
        margin: 0
        
    &__item
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: auto
        height: 42px
        line-height: 1
        color: var(--grey)
        font-size: 16px
        font-weight: 400
        text-align: center

        @media ($min-md)
            height: 55px
            font-size: 18px

        &.is-active

            .pagenav__link
                background: var(--green)
                border-color: var(--green)
                color: var(--white)

    &__link
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 42px
        height: 42px
        border: 1px solid var(--yellow)
        border-radius: 4px
        text-decoration: none
        font-size: 16px
        font-weight: 400
        color: var(--white)
        line-height: 1
        transition: all .5s ease

        @media ($min-md)
            height: 55px
            width: 55px
            font-size: 18px
        
        &:hover,
        &:active,
        &:focus-visible
            background: var(--yellow)
            color: var(--white)

    &__arrow
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 42px
        height: 42px
        border: 1px solid var(--yellow)
        border-radius: 4px
        transition: all .5s ease
        color: var(--white)

        @media ($min-md)
            height: 55px
            width: 55px

        &:hover,
        &:active,
        &:focus-visible
            background: var(--yellow)
            color: var(--white)
