.alert.is-visible
    svg.alert__icon(width="16" height="16")
        use(xlink:href="img/sprite.svg#check")
    | Промокод застосовано

.alert.alert--red
    svg.alert__icon(width="12" height="12")
        use(xlink:href="img/sprite.svg#close-modal")
    | Промокод не вірний

.alert.alert--red
    svg.alert__icon(width="12" height="12")
        use(xlink:href="img/sprite.svg#close-modal")
    | Поля заповнено 
    br
    | не корректно

.alert.alert--red Оберіть 1 опцію