nav.bottom-menu
    ul.bottom-menu__list
        li.bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--nav.is-active(href="#")
                svg.bottom-menu__icon(width="42" height="35")
                    use(xlink:href="img/sprite.svg#menu-1")
                | Суші
        
        li.bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--nav(href="#")
                svg.bottom-menu__icon(width="42" height="35")
                    use(xlink:href="img/sprite.svg#menu-2")
                | Роли
        
        li.bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--nav(href="#")
                svg.bottom-menu__icon(width="42" height="35")
                    use(xlink:href="img/sprite.svg#menu-3")
                | Сети
        
        li.bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--nav(href="#")
                svg.bottom-menu__icon(width="42" height="35")
                    use(xlink:href="img/sprite.svg#menu-4")
                | Напитки
        
        li.bottom-menu__item
            a.bottom-menu__link.bottom-menu__link--nav(href="#")
                svg.bottom-menu__icon(width="42" height="35")
                    use(xlink:href="img/sprite.svg#menu-5")
                | Добивки

        li.bottom-menu__item
            a.bottom-menu__link(href="#" data-nav-toggle)
                .burger.bottom-menu__burger
                    .burger__line
                    .burger__line
                    .burger__line
                | Меню
