footer.footer
    .container
        .footer__row
            .footer__col
                .contacts
                    h2.contacts__title Контакти
                    ul.contacts__list
                        li.contacts__item
                            svg.contacts__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#kyivstar")
                            
                            .contacts__text
                                p
                                    a(href="tel:+380973509595") +38 (097) 350-95-95
                        
                        li.contacts__item
                            svg.contacts__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#clock")
                            
                            .contacts__text
                                p 10:00 - 22:00

                        li.contacts__item
                            svg.contacts__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#location")
                            
                            .contacts__text
                                p м. Дніпро, вул. Титова, 13
                                p
                                    a(href="tel:+380973509595") +38 (097) 350-95-95
                        
                        li.contacts__item
                            svg.contacts__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#location")
                            
                            .contacts__text
                                p м. Дніпро, вул. Михайла Грушевського, 2
                                p
                                    a(href="tel:+380973509595") +38 (097) 350-95-95

            .footer__col
                .footer-menu
                    h3.footer-menu__title Навігація
                    button.footer-menu__toggle(type="button") Навігація
                        svg.footer-menu__toggle-icon(width="16" height="10")
                            use(xlink:href="img/sprite.svg#arrow-bottom")

                    ul.footer-menu__list
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Акції
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Доставка
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Про нас
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Контакти

            .footer__col
                .logo.footer__logo
                    a.logo__link(href="#" aria-label="logo")
                        img.logo__img(src="img/logo.svg" width="214" height="35" alt="logo")

                .footer__offer
                    a.footer__offer-link(href="#") Договір публічної оферти

                .footer__copyright.footer__copyright--mb &copy; Eco Sushi 2020-2024 Всі права захищені 

                address.social.footer__social
                    ul.social__list
                        li.social__item
                            a.social__link(href="#" aria-label="Instagram")
                                svg.social__icon(width="20" height="20")
                                    use(xlink:href="img/sprite.svg#instagram")

                        li.social__item
                            a.social__link(href="#" aria-label="Tiktok")
                                svg.social__icon(width="20" height="23")
                                    use(xlink:href="img/sprite.svg#tiktok")

                        li.social__item
                            a.social__link(href="#" aria-label="Telegram")
                                svg.social__icon(width="19" height="17")
                                    use(xlink:href="img/sprite.svg#telegram")

                        li.social__item
                            a.social__link(href="#" aria-label="Viber")
                                svg.social__icon(width="21" height="23")
                                    use(xlink:href="img/sprite.svg#viber")

                .footer__payment.footer__payment--hidden-md
                    svg.footer__payment-logo(width="34" height="27")
                        use(xlink:href="img/sprite.svg#mastercard")
                    
                    svg.footer__payment-logo(width="42" height="13")
                        use(xlink:href="img/sprite.svg#visa")

        .footer__bottom
            .footer__payment
                svg.footer__payment-logo(width="34" height="27")
                    use(xlink:href="img/sprite.svg#mastercard")
                
                svg.footer__payment-logo(width="42" height="13")
                    use(xlink:href="img/sprite.svg#visa")
            
            .footer__copyright  2024 &copy; Eco Sushi

            .footer__dev Розробка сайту 
                a.footer__dev-link(href="#")
                    img.footer__dev-img(src="img/shafem.svg" width="90" height="20" alt="shafem logo")

    a.up-button(href="#main" data-scroll)
        svg.up-button__icon(width="16" height="10")
            use(xlink:href="img/sprite.svg#arrow-top")
