.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner      
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Акції

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Доставка

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Про нас

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти

            .mobile-nav__location
                p
                    svg.mobile-nav__location-icon(width="12" height="15")
                        use(xlink:href="img/sprite.svg#location")
                    | м. Дніпро, вул. Титова, 13
                p м. Дніпро, вул. Михайла Грушевського, 2
