section.about-section
    .container.about-section__container
        .about-section__text
            p Сервіс доставки 
                strong.green-color ECO SUSHI
                |  – це не просто бізнес!
            p Наш колектив — це сім'я, яка працює в гармонії та злагоді.
            p Наша головна цінність – клієнт. Тому ми надаємо бездоганний сервіс та гарантуємо найвищу якість.

        ul.about-section__list
            li.about-section__item
                .about-card
                    .about-card__header
                        .about-card__pic
                            img.about-card__icon(src="img/about-1.svg" loading="lazy" width="28" height="28" alt="alt")
                        
                        h3.about-card__title Тільки СВІЖІ ТА СМАЧНІ ПРОДУКТИ

                    .about-card__body
                        p Жодного вчорашнього рису чи залишків риби. Приготування страв здійснюється безпосередньо в момент замовлення. Ви не отримаєте охолоджених заготовок, які кухар зробив з ранку і подав вам увечері.
            
            li.about-section__item
                .about-card
                    .about-card__header
                        .about-card__pic
                            img.about-card__icon(src="img/about-2.svg" loading="lazy" width="28" height="28" alt="alt")
                        
                        h3.about-card__title РІЗНОМАНІТНІСТЬ АСОРТИМЕНТУ

                    .about-card__body
                        p Ми не розуміємо, як інші кафе роками працюють з одним і тим самим меню. Це нудно. Тому наш шеф-кухар постійно покращує приготування існуючих страв та створює нові позиції. Все заради того, щоб ви зазнали гастрономічного задоволення.
            
            li.about-section__item
                .about-card
                    .about-card__header
                        .about-card__pic
                            img.about-card__icon(src="img/about-3.svg" loading="lazy" width="30" height="30" alt="alt")
                        
                        h3.about-card__title КОМПЕТЕНТНІ ОПЕРАТОРИ ТА МЕНЕДЖЕРИ

                    .about-card__body
                        p Чи не можете визначитися? Ми обов'язково допоможемо максимально точно вибрати страви, що вас цікавлять, і відповімо на всі питання відносного меню.
            
            li.about-section__item
                .about-card
                    .about-card__header
                        .about-card__pic
                            img.about-card__icon(src="img/about-4.svg" loading="lazy" width="28" height="28" alt="alt")
                        
                        h3.about-card__title ЗРУЧНЕ ВПАКУВАННЯ

                    .about-card__body
                        p Насолоджуйтесь їжею будь-де і коли завгодно. Завдяки найкращим кур'єрам, ви отримаєте своє замовлення максимально швидко.
            
            li.about-section__item
                .about-card
                    .about-card__header
                        .about-card__pic
                            img.about-card__icon(src="img/about-5.svg" loading="lazy" width="28" height="28" alt="alt")
                        
                        h3.about-card__title РЕЖИМ ОНЛАЙН - 24/7

                    .about-card__body
                        p Щоб розвиватись, бізнес має бути на зв'язку з клієнтом. Завжди. Дізнайтеся про актуальні акції, новинки та події компанії в наших соціальних мережах.