section.contacts-section
    .container.contacts-section__container
        .contacts-section__text
            p Сервіс доставки 
                strong.green-color ECO SUSHI
                |  працює щодня 
                strong.green-color з 10:00 до 22:00
                |  спеціально для Вас.

        ul.contacts-section__list
            li.contacts-section__item
                .contacts-card
                    ul.contacts-card__list
                        li.contacts-card__item
                            svg.contacts-card__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#location")
                            
                            .contacts-card__text
                                p
                                    strong м. Дніпро
                                    | , вул. Титова, 13

                        li.contacts-card__item
                            svg.contacts-card__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#kyivstar")
                            
                            .contacts-card__text
                                p
                                    a(href="tel:+380973509595") +38 (097) 350-95-95

                    .contacts-card__map
                        <iframe class="contacts-card__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2162.798245074938!2d35.00944790674444!3d48.43003010485768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe35bedb6ef37%3A0xc126f368feaa7bf4!2sTytova%20St%2C%2013%2C%20Dnipro%2C%20Dnipropetrovs&#39;ka%20oblast%2C%2049000!5e0!3m2!1sen!2sua!4v1693434896784!5m2!1sen!2sua" width="100%" height="245" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            li.contacts-section__item
                .contacts-card
                    ul.contacts-card__list
                        li.contacts-card__item
                            svg.contacts-card__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#location")
                            
                            .contacts-card__text
                                p
                                    strong м. Дніпро
                                    | , вул. Михайла Грушевського, 2

                        li.contacts-card__item
                            svg.contacts-card__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#kyivstar")
                            
                            .contacts-card__text
                                p
                                    a(href="tel:+380983770909") +38 (098) 377-09-09

                    .contacts-card__map
                        <iframe class="contacts-card__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2162.798245074938!2d35.00944790674444!3d48.43003010485768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe35bedb6ef37%3A0xc126f368feaa7bf4!2sTytova%20St%2C%2013%2C%20Dnipro%2C%20Dnipropetrovs&#39;ka%20oblast%2C%2049000!5e0!3m2!1sen!2sua!4v1693434896784!5m2!1sen!2sua" width="100%" height="245" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>