section.jobs-section
    .container.jobs-section__container
        h2.page-title.jobs-section__title Вакансії
        ul.jobs-section__list
            li.jobs-section__item
                .jobs-card
                    h3.jobs-card__title Сушист
                    .jobs-card__text
                        p Насолоджуйтесь їжею будь-де і коли завгодно.
                        p Завдяки найкращим кур'єрам, ви отримаєте
                    
                    .jobs-card__buttons
                        a.button.button--outline.jobs-card__button(href="#" data-modal="modal-details") Детальніше
                        a.button.jobs-card__button(href="#" data-modal="modal-feedback") Відгукнутись

            li.jobs-section__item
                .jobs-card
                    h3.jobs-card__title Сушист
                    .jobs-card__text
                        p Насолоджуйтесь їжею будь-де і коли завгодно.
                        p Завдяки найкращим кур'єрам, ви отримаєте
                    
                    .jobs-card__buttons
                        a.button.button--outline.jobs-card__button(href="#" data-modal="modal-details") Детальніше
                        a.button.jobs-card__button(href="#" data-modal="modal-feedback") Відгукнутись
