section.products-section.products-section--gradient
    .container.products-section__container
        h2.section-title.products-section__title Найпопулярніше з меню

        ul.products-section__list
            li.products-section__item
                .product-card
                    .product-card__tape
                        span 1=2

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ довга назва
                    
                    .product-card__bottom
                        .product-card__price
                            span.product-card__price-new 1799 ₴

                        button.button.product-card__button(type="button" data-modal="modal-add") Купити
                            svg.button__icon(width="14" height="20")
                                use(xlink:href="img/sprite.svg#cart")

            li.products-section__item
                .product-card
                    .product-card__tape.product-card__tape--purple
                        span АКЦІЯ

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ

                    .product-card__bottom
                        .product-card__price
                            del.product-card__price-old 1999 ₴
                            span.product-card__price-new 1799 ₴

                        button.button.button--green.product-card__button(type="button") У кошику
                            svg.button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#check")

            li.products-section__item
                .product-card
                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ довга назва
                    
                    .product-card__bottom
                        .product-card__price
                            span.product-card__price-new 1799 ₴

                        button.button.product-card__button(type="button" data-modal="modal-add") Купити
                            svg.button__icon(width="14" height="20")
                                use(xlink:href="img/sprite.svg#cart")

            li.products-section__item
                .product-card
                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ

                    .product-card__bottom
                        .product-card__price
                            del.product-card__price-old 1999 ₴
                            span.product-card__price-new 1799 ₴

                        button.button.button--green.product-card__button(type="button") У кошику
                            svg.button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#check")
            
            li.products-section__item
                .product-card
                    .product-card__tape
                        span 1=2

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ довга назва
                    
                    .product-card__bottom
                        .product-card__price
                            span.product-card__price-new 1799 ₴

                        button.button.product-card__button(type="button" data-modal="modal-add") Купити
                            svg.button__icon(width="14" height="20")
                                use(xlink:href="img/sprite.svg#cart")

            li.products-section__item
                .product-card
                    .product-card__tape.product-card__tape--purple
                        span АКЦІЯ

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ

                    .product-card__bottom
                        .product-card__price
                            del.product-card__price-old 1999 ₴
                            span.product-card__price-new 1799 ₴

                        button.button.button--green.product-card__button(type="button") У кошику
                            svg.button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#check")
            
            li.products-section__item
                .product-card
                    .product-card__tape
                        span 1=2

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ довга назва
                    
                    .product-card__bottom
                        .product-card__price
                            span.product-card__price-new 1799 ₴

                        button.button.product-card__button(type="button" data-modal="modal-add") Купити
                            svg.button__icon(width="14" height="20")
                                use(xlink:href="img/sprite.svg#cart")

            li.products-section__item
                .product-card
                    .product-card__tape.product-card__tape--purple
                        span АКЦІЯ

                    a.product-card__link(href="#")
                        picture.product-card__picture
                            img.product-card__img(src="img/product-card-img.webp" srcset="img/product-card-img@2x.webp 2x" loading="lazy" width="222" height="164"  alt="alt")

                        .product-card__descr 32 шт | 2000 г
                        h2.product-card__title Вечеринка СЕТ

                    .product-card__bottom
                        .product-card__price
                            del.product-card__price-old 1999 ₴
                            span.product-card__price-new 1799 ₴

                        button.button.button--green.product-card__button(type="button") У кошику
                            svg.button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#check")
