section.sales-section
    .container.sales-section__container
        .sales-section__text
            h2 АКЦІЯ 1+1 НА ВСІ РОЛИ, СУШІ І СЕТИ з меню діє до 31.05.2023. Як це працює?
            p Ви робите ЗАМОВЛЕННЯ на сайті ecosushi.com.ua або за телефоном
            p
                span.phone
                    svg.phone__icon(width="15" height="15")
                        use(xlink:href="img/sprite.svg#kyivstar")
                    a.phone__link(href="tel:+380973509595") +38 (097) 350-95-95

            p Замовляючи одну страву - ДРУГА така ж, або нижче за вартістю Ви отримуєте 
                strong.green-color БЕЗКОШТОВНО!
            p АКЦІЯ діє на все меню, включаючи МЕРЕЖІ.
            p Наприклад Ви ХОЧЕТЕ замовити суші на компанію з 5 осіб – замовляйте один СЕТ на Ваш вибір – і так само ми з радістю приготуємо Вам 
                strong.green-color БЕЗКОШТОВНО!
            p Або Вас двоє і достатньо буде взяти, наприклад, 2 ролі Філадельфія – і отримати 2 ролі на Ваш вибір 
                strong.green-color У ПОДАРУНОК.
            p АКЦІЯ ДІЄ на доставку та самовивіз.
            p Ви можете купувати 
                strong.green-color НЕОБМЕЖЕНУ
                |  кількість страв.
            p Наш кур'єр за 30 хвилин після приготування 
                strong.green-color ДОСТАВЛЯЄ
                |  тільки зроблені суші «під ножа» за вказаною адресою.
            p
                strong.green-color Ви пробуєте ТІЛЬКИ СВІЖІ РОЛИ ТА СУШІ , і добре проводите час із рідними людьми.
