section.seo-section
    .container.seo-section__container
        h2.section-title.seo-section__title Про нас - ECO SUSHI
        
        .seo-section__text
            p Сервіс доставки страв японської кухні преміум-класу, заснований у 2018 році. За чотири роки роботи ніндзя стерли переконання, що поїсти смачні роли можна лише в ресторані. Доставляємо замовлення з 10:00 до 21:30 додому та в офіс, для тихої вечері та свята в галасливій компанії.
            p У меню не лише класичні суші, а й ексклюзивні авторські роли, а також закуски, сетки та напої. Гарантуємо якість продуктів, свіжість інгредієнтів та об'єми порцій, які приємно здивують.
            p Ніндзя — це не просто доставка суші в Києві, до нас приходять за емоціями.
            ul.check-list
                li Великі порції (роли від 235 г);
                li Свіжі інгредієнти (постачання риби щодня);
                li Понад 60 позицій у меню: класичні, веганські, авторські рецепти;
                li Зручні застосунки для iOS та Android;
                li Лайфстайл. #ninjafam - Новинки Netflix, меми, музичні релізи.
            p Доставляємо роли протягом 90 хвилин. Мінімальна сума замовлення – 500 грн.