section.thanks-section
    picture.thanks-section__bg
        source(srcset="img/thanks-bg-desktop@2x.webp 2x, img/thanks-bg-desktop.webp" width="1920" height="680" media="(min-width: 768px)")
        img.thanks-section__bg-img(src="img/thanks-bg.webp" srcset="img/thanks-bg@2x.webp 2x" loading="lazy" width="414" height="311"  alt="alt")

    .container.thanks-section__container
        h1.page-title.thanks-section__title Дякую за замовлення №123
        p.thanks-section__descr Поки чекаєте на замовлення, підпишись на роли в інсту та фейсбук.
        
        address.social.thanks-section__social
            ul.social__list
                li.social__item
                    a.social__link.social__link--gradient(href="#" aria-label="Instagram")
                        svg.social__icon(width="20" height="20")
                            use(xlink:href="img/sprite.svg#instagram-2")

                li.social__item
                    a.social__link.social__link--black(href="#" aria-label="Tiktok")
                        svg.social__icon(width="20" height="23")
                            use(xlink:href="img/sprite.svg#tiktok")
